[submodule "realesrgan/core/MNN"]
	path = realesrgan/core/MNN
	url = https://github.com/Lucchetto/MNN
[submodule "realesrgan/core/eigen"]
	path = realesrgan/core/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "realesrgan/android/src/main/assets"]
	path = realesrgan/android/src/main/assets
	url = https://github.com/Lucchetto/Real-ESRGAN-models
