[submodule "realesrgan/src/main/cpp/MNN"]
	path = realesrgan/src/main/cpp/MNN
	url = https://github.com/Lucchetto/MNN
[submodule "realesrgan/src/main/cpp/eigen"]
	path = realesrgan/src/main/cpp/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "app/src/main/assets"]
	path = realesrgan/src/main/assets
	url = https://github.com/Lucchetto/Real-ESRGAN-models/
